
*.png

\.DS_Store

*.pyc

nanowire\(draft\)\.py

*.dat

globals.yml

Ratio/Thumbs\.db

Thumbs\.db

email-credentials

hpc-control/new.sh

data/

.vscode/

Scratch

kwant-1.4.1/

nanowire-env/

*.ipynb

test*

resources-needed

*.egg-info